{
    "extends": ["airbnb", "plugin:import/recommended"],
    "plugins": ["import", "jsx-a11y"],
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    },
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-unused-vars": "warn",
        "no-console": ["error", { "allow": ["info"] }],
        "arrow-parens": [
            "error",
            "as-needed",
            { "requireForBlockBody": false }
        ],
        "no-param-reassign": "warn",
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "linebreak-style": ["error", "windows"],
        "operator-linebreak": ["error", "after"],
        "global-require": "warn",

        "import/no-extraneous-dependencies": [
            "error",
            { "devDependencies": true }
        ],
        "import/extensions": ["error", "ignorePackages"]
    }
}
